<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /observatorio-planesdevida/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /observatorio-planesdevida/index.html [L]
</IfModule>
